


/* LOGIN */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin: 0px;
    padding: 0px;

}

.inicio-login{
    background-color: #ffffff; 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 300px;
}